.header__link {
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	transition: opacity 0.5s ease;
	text-decoration: none;
	margin: 0 24px 0 0;
	padding: 0;
	cursor: pointer;
	background-color: black;
	border: none;
	outline: none;
}
.header__link:hover {
	opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 900px) {
	.header__link {
		font-size: 14px;
		line-height: 17px;
		margin: 34px 0 34px 12px;
	}
}
