.profile__avatar-edit{
  border: none;
  background-image: none;
  position: absolute;
  background-color: rgba(0,0,0, 0);
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color, background-image, 1s, linear;
}

.profile__avatar-edit:focus{
  outline: none;
}


.profile__avatar-edit:hover{
  background-image: url(../../../image/pen.svg);
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
}
