.popup__content{
  background:#FFFFFF;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  visibility: visible;
  opacity:1;
  transition: visibility 0.5s, opacity 0.5s linear;
}

@media screen and (max-width: 525px){
  .popup__content{
    padding: 25px 22px;
    margin: 0 19px;
  }
}

